<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/style.css" />

		<link rel="icon" href="imgs/favicon.png" type="image/png" />
		<title>Relatório de Vendas</title>
	</head>

	<body>
		<div id="app">
			<header class="header navbar fixed-top">
				<div class="logo">
					<img src="./imgs/logo.png" alt="Tabela de Vendas" />
				</div>
				<nav class="nav-itens">
					<button
						class="btn btn-outline-light btn-sm mr-3"
						onclick="window.location.href = '#complete'"
					>
						{{btnComplete}}
					</button>
					<button
						class="btn btn-outline-light btn-sm"
						onclick="window.location.href = '#resume'"
					>
						{{btnResume}}
					</button>
				</nav>
			</header>

			<div class="container">
				<h1 class="mt-3">{{ title }} Completo</h1>
				<table id="complete" class="mt-3 table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Preço</th>
							<th>Qtde</th>
							<th>Data</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="sale in sales">
							<td>{{ sale.id }}</td>
							<td>{{ sale.name }}</td>
							<td v-money="'R$'">{{ sale.price }}</td>
							<td>{{ sale.qtde }}</td>
							<td>{{ sale.date }}</td>
						</tr>
					</tbody>
				</table>

				<div class="mt-5">
					<h1 class="mt-3">{{ title }} Resumido por Produtos</h1>
					<table id="resume" class="mt-3 table" v-if="salesByProduct">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(sale, index) in salesByProduct">
								<td>{{ index + 1 }}</td>
								<td>{{ sale.name }}</td>
								<td v-money="'R$'">{{ sale.value }}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td>+</td>
								<td>Total</td>
								<td v-money="'R$'">{{ calculateTotal(salesByProduct) }}</td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<script src="./js/script.js"></script>
	</body>
</html>
